#fitcell{
    
    white-space:nowrap;
    width: 1%;
}

#example1, #example1 thead, #example1 thead tr th , #example1 thead tr{
    white-space:nowrap;
    width:0px !important;
}
/*
#ignorethis{
    white-space:nowrap;
    width:auto;
}
*/